@use "variables" as vars;

@mixin btn-base($bg, $color, $border-color: transparent) {
    background-color: $bg;
    color: $color;

    border-radius: 999px;
    padding: 0.5rem 1.4rem;

    font-size: 0.9rem;
    font-weight: 500;
    font-family: vars.$ff;

    border: 1px solid $border-color;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.35rem;

    text-decoration: none;
    transition: background-color .15s ease,
        color .15s ease,
        border-color .15s ease;
}